[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/drbob-richardson/stat220/blob/main/Assignments/Stat_220_HW1.ipynb)

**Problem 1**. Give an example of a variable that is (a) categorical; (b) quantitative; (c) discrete; (d) continuous.

**Problem 2**. Analyze the Carbon_West data file using the following code.

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
carbon_west = pd.read_fwf("https://stat4ds.rwth-aachen.de/data/Carbon_West.dat")

Part a. Construct a histogram of CO2 emissions.

Part b. Find the mean, median, and standard deviation.

**Problem 3**. Read in the murder data set using the following code. The variable murder is the murder rate (per 100,000 population) for each state in the U.S. in 2017 according to the FBI Uniform Crime Reports. At first, do not use the observation for D.C. (DC).

In [20]:
murders = pd.read_fwf("https://stat4ds.rwth-aachen.de/data/Murder.dat")

Part a. Find the mean and standard deviation for murders without D.C.

Part b. Find the five-number  summary without D.C.

Part c. Now include the observation for D.C. and recalculate the mean, median, and five-number summary. What is affected more by this outlier: The mean or the median? The range or the inter-quartile range?

**Problem 4**. Read in the Houses data file using the following code.  The variables include price (thousands of dollars), size (square feet), tax bill (dollars), number of bathrooms, number of bedrooms, and whether the house is new (1 = yes, 0 = no) for 100 home sales in Gainesville, Florida. Let
y = selling price and x = size of home.

In [22]:
houses = pd.read_fwf("https://stat4ds.rwth-aachen.de/data/Houses.dat")

    case   price  size  new  taxes  bedrooms  baths
0      1  419.85  2048    0   3104         4      2
1      2  219.75   912    0   1173         2      1
2      3  356.55  1654    0   3076         4      2
3      4  300.00  2068    0   1608         3      2
4      5  239.85  1477    0   1454         3      3
..   ...     ...   ...  ...    ...       ...    ...
95    96  264.00  1060    0    990         2      2
96    97  294.75  1730    0   3030         3      2
97    98  198.30  1370    0   1580         3      2
98    99  132.60  1560    0   1770         3      2
99    10  190.80  1340    0   1430         3      2

[100 rows x 7 columns]

Part a. Construct a scatterplot between square feet and price of a home.

Part b. Find the correlation between the two variables.

Part c. Find and plot the regression line on top of the scatterplot.

Part d. Create a side by side boxplot of price comparing homes that are new and homes that are not new.

Part e. What is the relationship between size and price.  Justify your answer using the plots created. Do the same for the relationship between price and whether or not a house is new, again using the plot to justify your answer.

**Problem 5**. Using the Happy data file read in by the following code. Construct the contingency table relating marital status and happiness.

In [ ]:
happy = pd.read_csv("https://stat4ds.rwth-aachen.de/data/Happy.dat",sep=r'\s+')